.main-background { background-color: #eee; }

.bottom-padding { margin-bottom: 15px; }

.login-form { 
	padding: 30px; 
	max-width: 450px;
	margin: 0 auto;
}

.btn-primary {
	background-color: #009688;
	border-color: #009688;
	color: #000000;
}

.btn-primary:hover {
	background-color: #009688;
	border-color: #009688;
	color: #FFFFFF;
}

