/* Color palette:

	Primary:
		Main - #5d4037
		Light - #8b6b61
		Dark - #321911
		
	Secondary:
		Main - #009688
		Light - #52c7b8
		Dark - #00675b
		
	Assisted by: https://material.io/color
*/

.main-background { background-color: #eee; }

.bottom-padding { margin-bottom: 15px; }

.top-padding { margin-top: 5px; }

.main-text { color: black; }

.login-form { 
	padding: 30px; 
	max-width: 450px;
	margin: 0 auto;
}

.btn-primary {
	background-color: #009688;
	border-color: #009688;
	color: #000000;
}

.btn-primary:hover {
	background-color: #009688;
	border-color: #009688;
	color: #FFFFFF;
}

.btn.btn-primary:hover{
	background-color: #009688;
	border-color: #009688;
	color: #FFFFFF;
}

.sidenav {
	background-color: #5d4037;
	height: 100%;
	color: white;
	padding: 15px;
}
	
.footer {
	background-color: #321911;
	color: white;
	padding: 15px;
}

.input-group{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 5px;
}

.row.content { height: 1500px }

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
}